.index-wrap
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.index-wrap .title
  font-size: 2.5rem
  font-weight: bold
  margin: 1rem
  min-height: 4rem

.index-wrap .links
  display: flex
  flex-direction: row

.index-wrap .links > .link
  margin: 0 10px

.index-wrap .title
  text-transform: uppercase

.index-wrap a
  text-decoration: none
  
.index-wrap a:visited, .index-wrap a:link, .index-wrap a:hover
    color: color-header-background