<% site.posts.sort('date', -1).slice(0, 7).each(function(post){ %>
  <%- partial('_partial/article', {post: post, index: true}) %>
<% }) %>
<% if (site.posts.length > 8){ %>
  <p class="articles-more-link">
    <a href="../archives/">Check All</a>
  </p>
<% } %>